/* @import '../styles/win98.css'; */
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Default background for the HTML element, desktop bg will cover it */
  background-color: #008080; 
}
